<!DOCTYPE html>
<html>
<main>

<head>
  <meta charset="utf-8">
  <%- include ./partials/_stylesheets %>
  <%- include ./partials/_scripts %>
  <title>The Lifting Lab</title>
  <%- include ./partials/_navbar %>
    </head>
    <body>
      <% for (const type in messages) { %>
  <p class="danger-<%= type %>"><%= messages[type] %></p>
<% } %>
      <%- body %>
    </body>
    </main>
    </html>
