<div id="editForm"class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form method="POST" action="/programs/<%= program.id %>">

        <input type="hidden" name="_method" value="PUT">

        <div class="form-group">
          <label class="label"></label>
          <div class="control">
            <input class="form-control" name="name" type="text" placeholder="Name" value="<%= program.name %>">
          </div>
        </div>

        <div class="form-group">
          <label class="label"></label>
          <div class="control">
            <input class="form-control" name="origin" type="text" placeholder="Frequency" value="<%= program.origin %>">
          </div>
        </div>
        <div class="form-group">
          <label class="label"></label>
          <div class="control">
            <input class="form-control" name="image" type="text" placeholder="Image" value="<%= program.image %>">
          </div>
        </div>
        <div class="form-group">
          <label class="label"></label>
          <div class="control">
            <select name="level" class="form-control">
              <option <% if (program.level === 'Beginner'){%>selected<% } %>>Beginner</option>
              <option <% if (program.level === 'Intermediate'){%>selected<% } %>>Intermediate</option>
              <option <% if (program.level === 'Advanced'){%>selected<% } %>>Advanced</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="control">
            <% lifts.forEach((lift) => { %>
              <%/* if the program's lifts that exist in the database contains the lift that we're looping through, check the checkbox */%>
              <%/* JS .some() will return true once it finds one match */%>
              <input type="checkbox" name="lift" value="<%= lift.id %>" <% if(program.lift.some((_lift) => _lift.id === lift.id)) { %>checked<% } %>><%= lift.name %>
              <% }) %>
            </div>
          </div>

          <div class="form-group">
            <label class="label"></label>
            <div>
              <input class="form-control" name="description" type="text" placeholder="description" value="<%= program.description %>">
            </div>
          </div>

            <div class="control">
              <button type="Submit"class="btn btn-success btn-full">Submit</button>
            </div>

          </form>

      </div>
    </div>
  </div>
