
<main class="container">
  <form class="horizontal" method="GET" id="lift-form">
    <div class="row">
      <select class="liftDrop"name="lift">
        <option selected disabled>Lift</option>
        <% lifts.forEach(lift => { %>
          <option value="<%= lift.id %>"<% if(lift.id === selectedLiftId) { %> selected <% } %>><%= lift.name %></option>
        <% }) %>
      </select>
      <button class="btn" id="liftDropbtn">Search</button>
    </div>

  </form>
<h1 class="programIndex">Program Index</h1>

<% programs.forEach(program => { %>
  <div class="row">
  <div class="col-9">
  <h2 class="indexName"><a href="/programs/<%= program.id%>"><%= program.name %></a></h2>
  <p><%= program.level %></p>
  </div>
  <div class="col-3">
  <p class = "indexImages"><img src="<%= program.image%>"%></p>
  </div>
  </div>
<% }) %>

</main>
