<div class="container">
  <div class="row">
    <div class="col-6">
      <figure class="image">
        <img class="showProgram"src="<%= program.image %>" alt="<%= program.name %>">
      </figure>
    </div>

    <div class="col-6">
      <h3 class="subtitleShow"><%= program.name %></h3>
      <h4 class="subtitleShow"><%= program.level %></h4>
      <% program.lift.forEach((lift) => { %>
        <h5><%= lift.name %></h5>
        <% }) %>

        <div>
          <p><%= program.description %></p>
        </div>
        <% if (program.user) { %>
          <p>Added by: <strong><%= program.user.username%></strong></p>
          <% } %>
          <br>
          <% if(locals.isAuthenticated && program.user && program.user.id === locals.currentUser.id) { %>
            <form method="POST" action="/programs/<%= program.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <a class="btn btn-info" href="/programs/<%= program.id %>/edit">Edit</a>
            <button class="btn btn-danger">Delete</button>
            </form>
            <% } %>
          </div>
        </div>

        <div id="commentsPost"class="row">

          <form method="POST" action="/programs/<%= program.id %>/comments">

            <label></label>
            <textarea name="text" class="commentBox"placeholder="Write a Comment!"required></textarea>




            <div>
              <label>Post Rating: </label>
              <label>
                1<input type="radio" value="1" name="rating">
              </label>
              <label>
                2<input type="radio" value="2" name="rating">
              </label>
              <label>
                3<input type="radio" value="3" name="rating">
              </label>
              <label>
                4<input type="radio" value="4" name="rating">
              </label>
              <label>
                5<input type="radio" value="5" name="rating">
              </label>


              <div>
                <input type="text" class="userComment"value="<%= locals.currentUser.username %>" name="user" readonly>
                <button class="btn btn-success">Add</button>
              </div>

            </div>

          </form>


          <ul class="commentShow">
            <% program.comments.forEach(comment => { %>
              <div class="row">
              <li><%= comment.text %> - <%= comment.rating %>/5
              <p>Added by: <strong><%= comment.user %></strong></p>
              <% if(comment.user === locals.currentUser.username) { %>
                <form method="POST" action="/programs/<%= program.id %>/comments/<%= comment.id %>">
                <input type="hidden" name="_method" value="DELETE" required>
                <button class="btn btn-danger"> Delete</button>
                </form>
                <% } %>
                </li>
                </div>
                <% }) %>
              </ul>

            </div>
          </div>
