<div class="container">
  <div class="columns">
    <div class="column">
      <figure class="image">
        <img src="<%= program.image %>" alt="<%= program.name %>">
      </figure>
    </div>
    <div class="column">
      <h3 class="title"><%= program.name %></h3>
      <h4 class="subtitle"><%= program.level %></h4>
      <% program.lift.forEach((lift) => { %>
        <h5><%= lift.name %></h5>
      <% }) %>
      <div class="icon is-small">
        <i class="fa fa-pencil"></i>
      </div>
      <% if (program.user) { %>
      <p>Added by: <strong><%= program.user.username %></strong></p>
      <% } %>
      <br>
      <% if(locals.isAuthenticated && program.user && program.user.id === locals.currentUser.id) { %>
      <form method="POST" action="/programs/<%= program.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <a class="button is-primary" href="/programs/<%= program.id %>/edit">Edit</a>
        <button class="button is-danger">Delete</button>
      </form>
      <% } %>
    </div>
  </div>
</div>
